body {
  height: 100vh;
}

#mineral {
  user-select: none;
  width: 300px;
}

.mineral-upgrade-img {
  height: 20px;
  width: 20px;
}

/* #mineral-counter-img {
  height: 50px;
  width: 50px;
} */

.upgrades {
  width: 200px;
}

.upgrade-count {
  padding-left: 5px;
}
