body {
  height: 100vh;
}

#mineral {
  user-select: none;
  width: 20em;
}

.mineral-upgrade-img {
  height: 1rem;
  width: 1rem;
}

#mineral-counter-img {
  height: 2em;
  width: 2em;
}

/* .upgrade-count {
  padding-left: 3px;
} */
