body {
  height: 100vh;
}

header {
  background-image: url("/assets/img/SC-BC-BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}

main {
  background-color: #01030f;
}

#mineral {
  user-select: none;
  width: 20em;
}

.mineral-upgrade-img {
  height: 1rem;
  width: 1rem;
}

#mineral-counter-img {
  height: 2em;
  width: 2em;
}

#scv-corner {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  h1 {
    background-color: #01030f;
  }
}

/* Testing */
/* .upgrade-btn:hover {
  background: #2e3942 linear-gradient(180deg, #4e575f, #2e3942) repeat-x;
  border-width: 2px;
  /* Testing below */
/* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
/* border-color: #3e4d59; */
/* background: rgb(2, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(62, 77, 89, 1) 50%
  ); 
}

/* .upgrade-btn:hover {
  background-color: #242627;
  opacity: 0.5;
} */
